# /etc/systemd/system/monitor_test.service

[Unit]
Description=monitoring test process

[Service]
Type=oneshot
User=monitor
ExecStart=/usr/local/bin/monitor_test.sh
